{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Lotos</title>
    <link href="{% static 'main/css/grid.css' %}" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box clr">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box clr">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box clr">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box mid_clr">Здоровье</div>
        <div class="box mid_clr">Достависта</div>
        <div class="box mid_clr">Профи</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box clr">Text</div>
        <div class="box">Text</div>
        <div class="box mid_clr">Питание</div>
        <div class="box clr">{{item5_0}}</div>
        <div class="box mid_clr">Сарафан</div>
        <div class="box">Text</div>
        <div class="box clr">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box mid_clr">Планирую</div>
        <div class="box mid_clr">Обучаюсь</div>
        <div class="box mid_clr">Кодинг</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box clr">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box clr">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box clr">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
    </div>

</body>
</html>