{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Lotos</title>
    <link href="{% static 'main/css/grid.css' %}" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">{{item3_1}}</div>
        <div class="box">Text</div>
        <div class="box clr">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box clr">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box clr">{{item3_0}}</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box mid_clr">{{item5_7}}</div>
        <div class="box mid_clr">{{item5_8}}</div>
        <div class="box mid_clr">{{item5_1}}</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box clr">Text</div>
        <div class="box">Text</div>
        <div class="box mid_clr">{{item5_6}}</div>
        <div class="box clr">{{item5_0}}</div>
        <div class="box mid_clr">{{item5_2}}</div>
        <div class="box">Text</div>
        <div class="box clr">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box mid_clr">{{item5_5}}</div>
        <div class="box mid_clr">{{item5_4}}</div>
        <div class="box mid_clr">{{item5_3}}</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box clr">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box clr">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box clr">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
        <div class="box">Text</div>
    </div>

</body>
</html>