.wrapper {
  display: grid;
  text-align: center;
  border: solid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 77px);
}

.box {
    border: solid;
}

.clr {
    background-color: Yellow;
}

.mid_clr {
    background-color: GreenYellow;
}